In [2]:
squares = []
for i in range(1, 101):
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [4]:
squares2 = [i**2 for i in range(1,101)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [7]:
squares3 = [i**2 % 5 for i in range(1,101)] #only 3 perfect squares mod5
print(squares3)

[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0]

In [9]:
squares4 = [i**2 % 11 for i in range(1,101)]  #0,1,4,5,9,3
print(squares4)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1]

In [11]:
squares5 = [i**2 % 11 for i in range(1,11)] 
print(squares5)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1]

In [12]:
len(squares5)

10

In [15]:
movies = ["Goat", "Harry_Potter", "Narnia", "Genuine"]
gmovies = []
for movie in movies:
  if movie.startswith("G"):
   gmovies.append(movie)
print(gmovies)

['Goat', 'Genuine']

In [17]:
gmovies = [movie for movie in movies if movie.startswith("G")] #List Comprehension
print(gmovies)

['Goat', 'Genuine']

In [20]:
movies = [("Goat", 1941), ("Harry_Potter", 2003), ("Narnia", 1998), ("Genuine", 1991)] #Movies Year
moviesyear = [movie for (movie,year) in movies if year < 2000]
print(moviesyear)

['Goat', 'Narnia', 'Genuine']

In [21]:
v = [2,3,-2] #vector
4*v  #concatenation not multiple by 4

[2, 3, -2, 2, 3, -2, 2, 3, -2, 2, 3, -2]

In [23]:
w = [4*x for x in v]
print(w)

[8, 12, -8]

#Cartesian Product

In [24]:
A = [1,3,5,7]
B = [2,4,6,8]
cartesian_product = [(a,b) for a in A for b in B] #16 possible combination
print(cartesian_product)

[(1, 2), (1, 4), (1, 6), (1, 8), (3, 2), (3, 4), (3, 6), (3, 8), (5, 2), (5, 4), (5, 6), (5, 8), (7, 2), (7, 4), (7, 6), (7, 8)]

#Prime Number, 1 is neither prime nor composite

In [25]:
def is_prime_V1(n):
  """ Return True if n is a prime number, False otherwise"""
  if n == 1:
    return False
  for d in range(2,n):
    if (n%d == 0):
      return False
  return True
for n in range(1,21):
  print(n,is_prime_V1(n))

1 False
2 True
3 True
4 False
5 True
6 False
7 True
8 False
9 False
10 False
11 True
12 False
13 True
14 False
15 False
16 False
17 True
18 False
19 True
20 False

In [27]:
import time
def is_prime_V1(n):
  """ Return True if n is a prime number, False otherwise"""
  if n == 1:
    return False
  for d in range(2,n):
    if (n%d == 0):
      return False
  return True
for n in range(1,21):
  print(n,is_prime_V1(n))
t0 = time.time()
for n in range(1,100000):
  is_prime_V1(n)
t1 = time.time()
print("Time required" ,  t1-t0)

1 False
2 True
3 True
4 False
5 True
6 False
7 True
8 False
9 False
10 False
11 True
12 False
13 True
14 False
15 False
16 False
17 True
18 False
19 True
20 False
Time required 39.74717330932617

In [30]:
import math
def is_prime_V2(n):
  """ Return True if n is a prime number, False otherwise"""
  if n == 1:
    return False
  max_divisor = math.floor(math.sqrt(n))
  for d in range(2,1+ max_divisor):
    if (n%d == 0):
      return False
  return True

t0 = time.time()
for n in range(1,100000):
  is_prime_V2(n)
t1 = time.time()
print("Time required" ,  t1-t0) #much better

Time required 0.25902557373046875

In [32]:
import math
def is_prime_V3(n):
  """ Return True if n is a prime number, False otherwise"""
  if n == 1:
    return False
  if n == 2:
    return True
  if n > 2 and n % 2 == 0:
    return False
  max_divisor = math.floor(math.sqrt(n))
  for d in range(3,1+ max_divisor,2):
    if (n%d == 0):
      return False
  return True

t0 = time.time()
for n in range(1,100000):
  is_prime_V3(n)
t1 = time.time()
print("Time required" ,  t1-t0) #much better

Time required 0.14493823051452637