In [ ]:
class Snowflake:
  pass

In [ ]:
flake = Snowflake()
print(dir(flake))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

special methods start and end with double underscore

In [ ]:
class Martian:
    pass

ml = Martian()
print(ml.__dict__)

{}

In [ ]:
class Martian:  
    pass

ml = Martian()
ml.first_name = "Eesha"
ml.last_name = "Babar"

print(ml.__dict__) #stores object attribute

{'first_name': 'Eesha', 'last_name': 'Babar'}

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln

print(Martian.__doc__)

 Someone who lives on mars

In [ ]:
ml = Martian('Rob', 'Schenk')
ml.arrival_date = "2037-9-12"
print(ml.__dict__)

{'first_name': 'Rob', 'last_name': 'Schenk', 'arrival_date': '2037-9-12'}

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln #because here are self twice so set attr method called twice

  def __setattr__(self, name, value):
     print(f">>> You set {name} = {value}")
     self.__dict__[name] = value

In [ ]:
m = Martian("Klaus", "Robin")

>>> You set first_name = Klaus
>>> You set last_name = Robin

In [ ]:
print(m.__dict__) #not stored in dict

{}

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln #because here are self twice so set attr method called twice

  def __setattr__(self, name, value):
     print(f">>> You set {name} = {value}")
     self.__dict__[name] = value

In [ ]:
m = Martian("Klaus", "Robin")

>>> You set first_name = Klaus
>>> You set last_name = Robin

In [ ]:
print(m.__dict__)

{'first_name': 'Klaus', 'last_name': 'Robin'}

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln #because here are self twice so set attr method called twice

  def __setattr__(self, name, value):
     print(f">>> You set {name} = {value}")
     self.__dict__[name] = value
    
  def _getattr__(self,name):
     print(f">>> Get the '{name} attribute")

In [ ]:
m = Martian("Klaus", "Robin") #init called
print(f"First name = {m.first_name}")
print(f"last name = {m.last_name}")  #neither of print called getattr

>>> You set first_name = Klaus
>>> You set last_name = Robin
First name = Klaus
last name = Robin

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln #because here are self twice so set attr method called twice

  def __setattr__(self, name, value):
     print(f">>> You set {name} = {value}")
     self.__dict__[name] = value
    
  def __getattr__(self,name):
     print(f">>> Get the '{name}' attribute")
     if name == 'full_name':
       return f"{self.first_name} {self.last_name}"
     else:
      raise AttributeError(f"No attribute Named {name}")

In [ ]:
m = Martian("Eesha", "babar") #init called
print(f"First name = {m.first_name}")
print(f"last name = {m.last_name}")  #neither of print called getattr
print(m.full_name) #getattr called only once

>>> You set first_name = Eesha
>>> You set last_name = babar
First name = Eesha
last name = babar
>>> Get the 'full_name' attribute
Eesha babar

In [ ]:
print(m.martian_name)

>>> Get the 'martian_name' attribute

AttributeError: ignored

In [ ]:
m = Martian("Eesha", "babar") #init called
print(f"First name = {m.first_name}")
print(f"last name = {m.last_name}")  #neither of print called getattr
print(m.__dict__) #getattr called only once #full_name never stored

>>> You set first_name = Eesha
>>> You set last_name = babar
First name = Eesha
last name = babar
{'first_name': 'Eesha', 'last_name': 'babar'}

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln #because here are self twice so set attr method called twice

  def __setattr__(self, name, value):
     self.__dict__[name] = value

In [ ]:
ml = Martian("Ayan", "Mosa")
print(ml)
print(ml.__str__())

<__main__.Martian object at 0x7f374363f590>
<__main__.Martian object at 0x7f374363f590>

Each object in python is assigned a unique ID

In [ ]:
print(id(ml)) #address and id, different for each other

139875330553232

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln #because here are self twice so set attr method called twice

  def __setattr__(self, name, value):
     self.__dict__[name] = value

  def __str__(self):
    return f"{self.first_name} {self.last_name}"

In [ ]:
m = Martian("Rod", "Marley")
print(m)

Rod Marley

Binshift, arthimatic, comparing

In [ ]:
class Martian:
  """ Someone who lives on mars"""
  def __init__(self, fn, ln):
    self.first_name = fn
    self.last_name = ln #because here are self twice so set attr method called twice

  def __setattr__(self, name, value):
     self.__dict__[name] = value

  def __str__(self):
    return f"{self.first_name} {self.last_name}"
  
  def __lt__(self,other):
      print(f">>> Comparing {self} with {other}")
      if self.last_name != other.last_name:
        return (self.last_name < other.last_name)
      else :
       return (self.last_name < other.last_name) #test if one name is greater than other

In [ ]:
m1 = Martian("Arshman", "Mujeeb")
m2 = Martian("Mosa", "Ayan")
m3 = Martian("Essa", "Abyan")
m4 = Martian("Zain", "ulAbideen")
m5 = Martian("Wali", "Ahmad")

In [ ]:
martians = [m1, m2, m3, m4, m5]

martians.sort()

>>> Comparing Mosa Ayan with Arshman Mujeeb
>>> Comparing Essa Abyan with Mosa Ayan
>>> Comparing Zain ulAbideen with Essa Abyan
>>> Comparing Zain ulAbideen with Mosa Ayan
>>> Comparing Zain ulAbideen with Arshman Mujeeb
>>> Comparing Wali Ahmad with Arshman Mujeeb
>>> Comparing Wali Ahmad with Mosa Ayan
>>> Comparing Wali Ahmad with Essa Abyan

In [ ]:
for m in martians:
  print(m)

Essa Abyan
Wali Ahmad
Mosa Ayan
Arshman Mujeeb
Zain ulAbideen