In [1]:
Alkaline_earth_metals = ["Beryllium", "Magnesium" , "Calcium", "Strontium" , "Barium" , "Radium"]

In [2]:
Alkaline_earth_metals.sort()

In [4]:
Alkaline_earth_metals #Ascending order

['Barium', 'Beryllium', 'Calcium', 'Magnesium', 'Radium', 'Strontium']

In [5]:
Alkaline_earth_metals.sort(reverse=True)

In [6]:
Alkaline_earth_metals

['Strontium', 'Radium', 'Magnesium', 'Calcium', 'Beryllium', 'Barium']

In [7]:
earth_metal = ("Beryllium", "Magnesium" , "Calcium", "Strontium" , "Barium" , "Radium")

In [8]:
earth_metal.sort() #Tuple immutable cant be changed

AttributeError: ignored

In [9]:
help(list.sort) #changes list itself

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [10]:
Planets = [("Mercury", 2440, 9.1, 2), ("Venus", 3310, 9.8, 3), ("Earth" , 2100, 13, 1), ("Mars" , 2300, 15, 2.0)]

In [13]:
size = lambda planet : planet[1]
Planets.sort(key=size, reverse = True) #Arranged by second element, radius

In [12]:
Planets

[('Venus', 3310, 9.8, 3),
 ('Mercury', 2440, 9.1, 2),
 ('Mars', 2300, 15, 2.0),
 ('Earth', 2100, 13, 1)]

In [16]:
density = lambda planet : planet[2]
Planets.sort(key=density, reverse = True)
Planets #sorted by second element

[('Mars', 2300, 15, 2.0),
 ('Earth', 2100, 13, 1),
 ('Venus', 3310, 9.8, 3),
 ('Mercury', 2440, 9.1, 2)]

In [18]:
help(sorted) #list, tuple, or any iterable

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [20]:
Alkaline_earth_metals = ["Beryllium", "Magnesium" , "Calcium", "Strontium" , "Barium" , "Radium"]
sorted_earth_metals = sorted(Alkaline_earth_metals)
sorted_earth_metals

['Barium', 'Beryllium', 'Calcium', 'Magnesium', 'Radium', 'Strontium']

In [21]:
Alkaline_earth_metals #original list unaltered

['Beryllium', 'Magnesium', 'Calcium', 'Strontium', 'Barium', 'Radium']

In [22]:

data = (2,1,10,9,8,3,6,7,8,0)
sorted(data) #input tuple and output list

[0, 1, 2, 3, 6, 7, 8, 8, 9, 10]

In [24]:
sorted("Alphabetically") #string is also iteratable, can iterate over string character by character

['A', 'a', 'a', 'b', 'c', 'e', 'h', 'i', 'l', 'l', 'l', 'p', 't', 'y']

sort method changes list, does not work on tuple
sorted method does not change list and also works on tuple